<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://hammywallace.netlify.com">Ham Wallace</a>.  A web developer who is on a mission to help the people of the world know the absurdities that exist in the town of Aspen, CO.
  </p>
  <br />
  <p>
    He alone has brought light to the issues that many didn't think existed in this funny little town.  He has warned many thousands of people of what is considered the norm.
  </p>
  <br />
  <p>
    If you want to learn more about the town visit the <a target="_blank" href="https://www.aspensnowmass.com"> website</a>.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpeg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Ham Wallace</h2>
    <br />
    <p>
      Ham Wallace is a server at Meat & Cheese in Aspen, CO.  He is just getting into coding this summer and plans to gradute from the DU Coding Bootcamp with a strong ability to code for web development.
    </p>
  </div>
</div>
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
